

/* STEP-1: Hide the input type & burgerlines */
.navbar input[id="hamburger"], 
.navbar .hamburger-lines {

    display: none;
}

/* STEP-2: Container - Sizing */
.container.navbar-container {

    max-width: 1200px; /*io proverei a mettere 100% dello schermo*/
    width: 90%;
    margin: auto;
}

/* STEP-3: NavBar - Styling */
.navbar {

    position: fixed;
    z-index: 8;
    width: 100%;
    background-color:darkslateblue;
    color: #fff;
    
}

/* STEP-4: NavBar-Container - Styling */
.navbar-container {

    display:flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* STEP-5: Logo - Styling */
.logo {

    position: absolute;
    z-index: 10;
    left: 15px;
    font-size: 1.7rem;
}

/* STEP-6: Menu List Links - Styling */
.menu-items {

    display: flex;
    position: absolute;
    right: 15px;
}

.menu-items li {

    list-style-type: none; /*Rimuove il puntino accanto ad ogni elemento del menu*/
    margin-left: 1.5rem;
    display: flex;
    
}

.menu-items li a {

    text-decoration: none;
    color: #fff;
}

.menu-items a:hover {
    color: #f1c40f;
}

/* Mobile Responsive */
@media (max-width:768px) {

    /* STEP-7: Hamburger Starts from here */

    /* display: from none to Block - Hamburger */
    .navbar input[id="hamburger"], 
    .navbar .hamburger-lines {

        display: block;
    }

    /* Set Navbar-Container to Block and Set Relative */
    .navbar-container {

        position: static;
        height: 64px;
    }

    /* Input CheckBox Styling */
    .navbar-container input[id="hamburger"] {

        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }


    /* Hamburger Styling */

    /* Step 1: Hamburger Container Styling */
    .navbar-container .hamburger-lines {

        height: 28px;
        width: 35px;
        position: absolute;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* Step 2: Hamburger Lines Styling */
    .navbar-container .hamburger-lines .line {

        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    } 

    /* Step 3: Hamburger Each Line Styling */

    .navbar-container .hamburger-lines .line1 {

        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {

        transition: transform 0.1s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {

        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    /* Step 4: Styling Menu-List Vertical */ 
    /* Questa parte di codice serve per posizionare correttamente il menu a tendina */
    .navbar .menu-items {
        
        left: 80%;
        position: absolute;
        top: -16px;
        padding-top: 100px;
        margin-left: -100px;
        padding-right: 100%;
        height: 100vh;
        max-width: 300px;


        background: #24252a;
        transform: translate(200%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
        
    }

    /* styling links: For Mobile View */
    .navbar .menu-items li {

        margin-bottom: 1.8rem;
    }

    /* Step 5: Styling Menu-List Vertical */
    /* Questa parte di codice crea l'animazione delle tre linee del menu che si trasformano in una croce */

    .navbar-container input[id="hamburger"]:checked~.menu-items {  /*la tilde è il selettore di elementi "fratelli"*/

        transform: translateX(0);
    }

    .navbar-container input[id="hamburger"]:checked~.hamburger-lines .line1 {

        transform: rotate(45deg);
    }

    .navbar-container input[id="hamburger"]:checked~.hamburger-lines .line2 {

        transform: scaleY(0);
    }

    .navbar-container input[id="hamburger"]:checked~.hamburger-lines .line3 {

        transform: rotate(-45deg);
    }

    /* End of Hamburger Styling */

}  

