:root {
    --spostaBody: 0;
    --borderRadius: 10px;
    --spacer: 1rem;
    --textNav: #fff;
    --linkHeight: calc(var(--spacer) * 3.5);
    --spessore: max(4vw, 72px);
    --timing: 500ms;
    --transition: var(--timing) ease all;
    --nav_aperta: 0;
    --dimIcone: 28px;
    --margineLink: 15px;
}

body {
    transition: padding-left calc(var(--timing) * var(--spostaBody)) ease;
    padding-left: calc(var(--spessore) * (2  +  2*var(--nav_aperta)));
}

#btnNotte {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#btnNotte img {
    width: max(9%, 17px);
    height: auto;
    filter: invert(var(--notte));
    bottom: var(--spacer);
    transition: var(--transition);
}

#btnEspandi {
    height: auto;
    width: 100%;
    filter: invert(var(--notte));
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btnEspandi img {
    width: max(9%, 21px);
    height: auto;
    margin-right: calc(var(--spessore) * 0.5 - max(9%, 21px) / 2); 
    transition: var(--transition);
}

.navbar {
    position: fixed;
    top: var(--spacer);
    left: var(--spacer);
    bottom: var(--spacer);
    background: var(--primario);
    border-radius: var(--borderRadius);
    padding: var(--spacer) 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
    height: auto;
    width: var(--spessore);
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: var(--transition);
    overflow: hidden;
}

.navbar #logo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    padding-left: calc(var(--spessore) * 0.5 - 24.5px);
    background: #eaedf2;
    margin: 10px;
    margin-bottom: 50px;
    border-radius: var(--borderRadius);
    color: #3d5165;
}

.navbar #logo img {
    width: 30px;
    border-radius: var(--borderRadius);  
    margin-right: calc(var(--spessore) * 0.6 - 20px);  
}

.nav_aperta {
    width: calc(var(--spessore) * 3);
}

.nav_aperta body {
    padding-left: calc(var(--spessore) * 3);
}

.nav_aperta #btnEspandi img {
    rotate: 180deg;
}

.nav_menu {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item {
    height: calc(var(--spessore) * 0.8);
    width: calc(100% - var(--margineLink));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    margin: 5px 5px;
    border-radius: var(--borderRadius);
}

.nav_link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--textNav);
    transition: var(--transition);
    padding-left: calc(var(--spessore)/2 - var(--dimIcone) / 2 - var(--margineLink) / 2);
}

.nav_link span {
    position: absolute;
    opacity: 1;
    margin-left: calc(var(--spessore) - 10px);
    color: var(--secondario);
}

.nav_link img {
    width: var(--dimIcone);
    height: var(--dimIcone);
    filter: invert(var(--notte));
}


.nav_item:hover {
    background: var(--secondario);
    color: var(--primario);
    transition: var(--transition);
}

.nav_item:hover img {
    background-color: none;
    transition: var(--transition);
    filter: invert(calc(1 - var(--notte)));
    border-radius: var(--borderRadius);
    transition: 0;
}

.nav_item:hover span {
    color: var(--primario);
    transform: none;
}

.selezionato {
    background: var(--secondario);
    color: var(--primario);
    transition: 0;
    
}

.selezionato img {
    transition: var(--transition);
    filter: invert(calc(1 - var(--notte)));
}

.selezionato span {
    color: var(--primario);
    opacity: 1;
}

a {
    text-decoration: none;
}

@media screen and (orientation: portrait) {

    :root {
        --spessore: max(7vh, 60px);
        --aperta: 0;
    }

    body {
        padding-left: 2vw;
        padding-bottom: calc(var(--spessore) + 2vw);
    }

    .navbar {
        z-index: 10;
        top: auto;
        bottom: var(--spacer);
        height: var(--spessore);
        width: auto;
        left: var(--spacer);
        right: var(--spacer);
        flex-direction: row;
        padding: 0 var(--spacer);
        align-items: center;
    }

    .navbar #logo {
        width: 0;
        visibility: hidden;
    }

    .nav_menu {
        width: calc(100% - 15px);
        flex-direction: row;
        justify-content: space-around;
    }

    .nav_item {
        height: calc(100% - var(--margineLink));
        width: calc(var(--linkHeight) * 2);
    }

    .nav_link {
        justify-content: center;
        padding-left: 0;
    }

    .nav_item span {
        opacity: 0;
    }

    #btnNotte {
        width: auto;
        height: 100%;
    }

    #btnNotte img {
        width: auto;
        height: max(9%, 15px);
        bottom: auto;
        right: var(--spacer);
    }

    #btnEspandi {
        height: 0%;
        width: 0%;
        opacity: 0;
    }

}