.small_screen_title {

    visibility: hidden;
    font-size: 4vmin;
    text-align: center;

}

.container {

    margin-top: -12vh;
    flex-direction: row;
}

.container .comandi {

    justify-content: left;
    margin-left: 5%;
}

#soluzione {

    visibility: hidden;
}

.button_1 {

    margin-bottom: 2%;
}

@media screen and (max-width: 1200px) {



    .small_screen_title {

        visibility: visible;
    }

    .default_screen_title {

        visibility: hidden;
        font-size: 0;
    }

    .container {

        margin-top: 0;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .comandi {

        gap: 0;
        flex-direction: column;
        align-items: center;
        font-size: x-large;

    }

    #descrizione {
        margin: auto;
        text-align: center;
    }

    #soluzione {

        margin: auto;

    }

    .buttons {

        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 2%;

    }

    .button_1 {

        margin-right: 2%;
    }
}

@media screen and (min-width: 1920px) {


    main {

        font-size: 1vmax;
    }

    .button_1 {

        height: 6vh;
        min-width: 10%;

    }
}

@media screen and (orientation: portrait) {



    .small_screen_title {

        visibility: visible;
    }

    .default_screen_title {

        visibility: hidden;
        font-size: 0;
    }

    .container {

        margin-top: 0;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .comandi {

        gap: 0;
        flex-direction: column;
        align-items: center;
        font-size: x-large;

    }

    #descrizione {
        margin: auto;
        text-align: center;
    }

    #soluzione {

        margin: auto;

    }

    .buttons {

        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 2%;

    }

    .button_1 {

        margin-right: 2%;
    }
}