:root{
    --def-border-radius: 10px;
}

h2 {
    text-transform: uppercase;
}

.etichetta {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flexbox {
    display: flex;
    align-items: center;
    gap: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

#immagineProfilo {
    border-radius: 50%;
    text-align: left;
    width: 20%;
    height: 20%;
}

.btn{
    padding: 8px 16px;
    gap: 4px;

    width: fit-content;
    height: fit-content;

    background: hsl(calc(var(--colore) + 30), 53%, 41%);;;
    border-radius: var(--def-border-radius);
    border: 0px;
    transition: background 0.3s ease;
    font-size: medium;
    color: white;
}

.popup{
    width: fit-content;
    height: fit-content;
    background: white;
    border-radius: var(--def-border-radius);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 3% 3%;
    color: black;

    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-img{
    width: 15%;
    height: 15%;
}

/* Per schermi con width >= 1024px */
@media (min-width: 1024px) {
    .etichetta {
        font-size: large;
    }
    h2 {
        font-size: xx-large;
    }
}
/* Per schermi con width compresa fra 768px e 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .etichetta {
        font-size: medium;
    }
    h2 {
        font-size: x-large;
    }
}
/* Per schermi con width <= 767px */
@media (max-width: 767px) {
    .etichetta {
        font-size: small;
    }
    h2 {
        font-size: large;
    }
}