main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    gap: 5%;

    width: fit-content;
    height: fit-content;

    padding-bottom: 10%;
}

.orizzontale {
    display: flex;
    align-items: center; 
    gap: 5%;
}

.grid-item {
    display: flex;
    align-items: center;
}

#img-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 10%;
}

.etichetta {
    font-family: 'Open Sans', sans-serif;
}

.settore{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1%;

    transition: opacity 0.6s ease;
}
.settore:hover{
    transition: 0.3s ease;
    /*transform: scale(1.1); DA PROBLEMI CON IMMAGINI PROFILO*/
}


#immagineProfilo {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 90%;
    min-width: 200px;
    min-height: 200px;
    aspect-ratio: 1 / 1;
}

/* -----per il nuovo dropdown menu----- */
.dropdown{
    min-width: 15px;
    position: relative;
    margin: 2px;
}
.dropdown * {
    box-sizing: border-box;
}

.select{
    width: 190px;
    background: hsl(calc(var(--colore) + 30), 53%, 41%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: var(--borderRadius);
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
}
.select-clicked{
    border: 2px solid white;
    box-shadow: 0 0 0.8em hsl(calc(var(--colore) + 30), 53%, 41%);
}
.select:hover{
    opacity: 0.8;
}

.caret{
    width: 0;
    height: 0;
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: 6px solid;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 8px 16px;
    background: hsl(calc(var(--colore) + 30), 53%, 41%);
    border: 1px solid white;
    box-shadow: 0 0.5em 1em hsl(calc(var(--colore) + 30), 53%, 41%);
    border-radius: var(--borderRadius);
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 8px 16px;
    margin: 4px 0;
    border-radius: var(--borderRadius);
    cursor: pointer;
}
.menu li:hover{
    opacity: 0.5;
}

.active{
    background: rgb(163, 150, 150);
}

.menu-open{
    display: block;
    opacity: 1;
}
/* -----per il nuovo dropdown menu----- */


.popup{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10% 20%;
    margin-left: calc(20% + var(--spessore));
    background: white;
    border-radius: var(--borderRadius);
    transform: scale(0);
    text-align: center;
    padding: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: light-dark(white, black);
    color: light-dark(black, white);
    box-shadow: 0 0 1em hsl(calc(var(--colore) + 30), 53%, 41%);
    z-index: 9999;
}

#immaginiProfilo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

#immaginiProfilo::-webkit-scrollbar {
    display: none;
  }

.open-popup{
    transform: scale(1);
}

.popup-img{
    margin: 0 5px;
    width: 80px;
    height: 80px;
}

@media (min-width: 1024px) {
    .etichetta {
        font-size: large;
    }
    h2 {
        font-size: xx-large;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .etichetta {
        font-size: medium;
    }
    h2 {
        font-size: x-large;
    }
}
@media (max-width: 767px) {
    .etichetta {
        font-size: small;
    }
    h2 {
        font-size: large;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding-bottom: calc(10% + var(--spessore));

    }
    #container_vuoto{
        display: none;
    }
}



#usernameProfilo{
    color: hsl(calc(var(--colore) + 30), 53%, 41%);
}
#punteggioProfilo{
    color: hsl(calc(var(--colore) + 30), 53%, 41%);
}
