:root {
    --dimensioneTavolaAltezza: min(calc(100vw * 0.8), 600px, calc(100vh * 0.8));
    --dimensioneTavolaLarghezza: calc(var(--dimensioneTavolaAltezza) * 0.98);
    --dimensioneScacchieraAltezza: calc(var(--dimensioneTavolaAltezza) * 0.94);
    --dimensioneScacchieraLarghezza: calc(var(--dimensioneTavolaLarghezza) * 0.94);
    --dimensioneCellaAltezza: calc(var(--dimensioneScacchieraAltezza) / 8);
    --dimensioneCellaLarghezza: calc(var(--dimensioneScacchieraLarghezza) / 8);
    --dimensioneBordo: calc(var(--dimensioneScacchieraAltezza) / 45);
    --dimensioneNumeri: calc(var(--dimensioneScacchieraAltezza) * 0.022);
    --dimensioneTesto: calc(var(--dimensioneScacchieraAltezza) * 0.021);

    --posizioneRighe: calc((var(--dimensioneTavolaLarghezza) - var(--dimensioneScacchieraLarghezza)) / 2 - var(--dimensioneScacchieraLarghezza) / 55);
    --posizioneColonne: calc((var(--dimensioneTavolaAltezza) - var(--dimensioneScacchieraAltezza)) / 2 - var(--dimensioneScacchieraAltezza) / 37);

    --dimensionePezzoLarghezza: calc(var(--dimensioneCellaLarghezza) * 0.75);
    --dimensionePezzoAltezza: calc(var(--dimensioneCellaAltezza) * 0.75);

    --coloreTesto: hsl(0, 0%, calc(var(--notte) * 100%));
}

.tavola {
    width: var(--dimensioneTavolaLarghezza);
    height: var(--dimensioneTavolaAltezza);
    border: var(--dimensioneBordo) solid var(--primario);
    background-color: var(--primario);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.scacchiera {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    width: var(--dimensioneScacchieraLarghezza);
    height: var(--dimensioneScacchieraAltezza);
}

.numeriRighe {
    position: absolute;
    left: var(--posizioneRighe);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--dimensioneScacchieraAltezza);
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--dimensioneCellaAltezza);
    font-family: var(--font);
    font-weight: bold;
    color: var(--coloreTesto);
    font-size: var(--dimensioneNumeri);
}

.lettereColonne {
    position: absolute;
    right: 0;
    bottom: var(--posizioneColonne);
    display: flex;
    justify-content: space-between;
    width: var(--dimensioneScacchieraLarghezza);
}

.lettera {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--dimensioneCellaLarghezza);
    font-family: var(--font);
    font-weight: bold;
    color: var(--coloreTesto);
    font-size: var(--dimensioneTesto);
}

.cella {
    width: var(--dimensioneCellaLarghezza);
    height: var(--dimensioneCellaAltezza);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pezzo {
    position: absolute;
    z-index: 1;
    width: calc(var(--dimensioneCellaLarghezza) * 0.75);
    height: calc(var(--dimensioneCellaAltezza) * 0.75);
}

.simple {
    filter: hue-rotate(calc((var(--colore) - 220) * 1deg));
}

.suggerimento {
    width: calc(var(--dimensioneCellaLarghezza) / 3.5);
    height: calc(var(--dimensioneCellaAltezza) / 3.5);
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.8;
}

.catturabile {
    width: calc(var(--dimensioneCellaLarghezza) * 0.9);
    height: calc(var(--dimensioneCellaAltezza) * 0.9);
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.8;
}

.coperturaCella {
    position: absolute;
    width: var(--dimensioneCellaLarghezza);
    height: var(--dimensioneCellaAltezza);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
