@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html, body{

    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;


}

.title {
    margin-top: 50px; /* Serve per mettere il titolo sotto la navbar */
}

.container.sceltamodalità {

    margin-top: -3%; /*serve per avvicinare leggermente le schede al titolo */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    flex: 1; /*Assegna tutto lo spazio rimanente del padre all'elemento di questa classe */
    justify-content: center;
    align-items:center;
}
.container.sceltamodalità .custom-card {
 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    height: 55%;
    max-height: 500px;
    background: #FFF;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);

    flex-grow: 1; /* Fai espandere gli elementi div per occupare lo spazio disponibile */
    min-width: 0; /* Permetti agli elementi div di rimpicciolirsi se necessario */
    margin: 1vw;
}

.container .custom-card:hover {

    height: 60%;
}

.container .custom-card .img-box {

    position: absolute;
    top: 20px;
    width: 50%;
    height: 75%;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .custom-card:hover .img-box {

    position: absolute;
    text-align: center;
    top: -30%;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .custom-card .img-box img {
    
    width: auto;
    height: 100%;
    object-fit: cover;
}

.container .custom-card .custom-content {

    visibility: hidden; /* Nasconde il testo impostando la visibilità a hidden */
    transition: visibility 0.5s;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    font-size: clamp(0.75rem, 1vw, 24px);
    box-sizing: border-box;
    padding: 2%;
}

.container .custom-card:hover .custom-content {
     
    visibility: visible;
    top: 35%;
    height: 100%;
    
}

.container .custom-card:not(:hover) .custom-content {
    transition: 0s;
}

.container .custom-card .custom-content h2 {

    text-align: center;
    font-weight: 700;
    color: #333333;
}

.container .custom-card .custom-content p {

    text-align: center;
    color: #333;
}

.container .custom-card .custom-content a {

    position: absolute;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #181818;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    top: 55%; /* Fissa il bottone in fondo al div*/
    left: 50%; /* Sposta il contenuto verso il 50% della larghezza del container */
    transform: translate(-50%, -50%); /* Centra il contenuto rispetto al suo centro */
    text-align: center; /* Centra il testo orizzontalmente */
}
    


.container .custom-card .custom-content a:hover {

    opacity: 0.8;
}

@media (max-width: 768px) {

     .container.sceltamodalità {
        
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 375px;
        min-height: 650px;

        
    }

    .container .custom-card {

        border-radius: 15px;
        margin-bottom: 5vh; /* Spazio tra le cards*/


    
    }

    .container .custom-card:hover {

        display: inline-block;
        height: 80%;

    }

    .container .custom-card .img-box {

        width: auto;
    }

    .container .custom-card:hover .img-box {

        top: 10%;
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    }

    .container .custom-card .custom-content {

        
        width: 50%;
        left: 45%;
        text-align: right;
        font-size: 0.75rem;
      

    }

    .container .custom-card:hover .custom-content {
     
        top: -2%;

    }


    .container .custom-card .custom-content h2 {

        text-align: right;
       
    
    }

    .container .custom-card .custom-content p {

        text-align: right;
        margin-top: -5%;
    
    }

    .container .custom-card:hover .custom-content a {

        text-align: right;

        position: absolute; /* Posizionamento assoluto per il bottone */
        top: 85%; /* Fissa il bottone in fondo al div*/
        right: 0; /* Fissa il bottone alla destra del div */
        left: auto; /* Rimuovo la modifica apportata quando le dimensioni dello schermo sono superiori*/
        
        padding: 8px 17px;

        
    }
}