:root {
    --altezzaDiv: 500px;
    --altezzaCard: 55%;
    --larghezzaCard: 100%;
    --maxAltezzaCard: 360px;
    --maxLarghezzaCard: 360px;
}


.sceltamodalità {
    width: 100%;
    height: var(--altezzaDiv);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    
}


.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: var(--maxLarghezzaCard);
    max-height: var(--maxAltezzaCard);

    width: 100%;
    height: var(--altezzaCard);

    background: light-dark(grey, var(--primario));
    border-radius: var(--borderRadius);
    transition: 0.5s;
    padding: 13px;
    margin: 10px;

}


.custom-card:hover {
    height: calc(var(--altezzaCard) * 1.5);
}

.img-box {
    
    position: absolute;
    width: calc(var(--larghezzaCard) * 0.75);
    height: calc(var(--larghezzaCard) * 0.75);
    border-radius: var(--borderRadius);
    transition: 0.5s;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.custom-card:hover .img-box {
    transform: translateY(-120px);
    scale: 0.8;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.img-box img {
    width: auto;
    height: 100%;
}

.custom-card .custom-content {
    visibility: hidden;
    transition: visibility 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
}

.custom-card:hover .custom-content {

    visibility: visible;
    top: 35%;
    height: 100%;
}

.container .custom-card:not(:hover) .custom-content {
    transition: 0s;
}

.custom-card .custom-content h2 {
    font-size: 18px;
    color: light-dark(black, white);
    text-align: center;
}

.custom-card .custom-content p {
    color: light-dark(black, white);
    text-align: center;
}


@media (max-width: 768px) {

    .sceltamodalità {
        width: var(--larghezzaCard)*1.5;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .sceltamodalità .img-box {
        position: absolute;
        opacity: 0;
    }

    .custom-card {
        justify-content: center;
    }

    .custom-card .custom-content {
        opacity: 1;
        transform: none;
        color: black;
    }

    .custom-card .custom-content {
        transform: none;
    }

}