@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
    --tema: light;
    --notte: 0;
    color-scheme: var(--tema);

    --colore: 220;
    --primario: light-dark(white, hsl(var(--colore), 19%, 25%));
    --secondario: light-dark(hsl(var(--colore), 19%, 25%), white);
    --secondarioInv: light-dark(hsl(calc(var(--colore) - 180), 19%, 75%), black);
}

html {
    height: 98%;
}

body {
    height: 100%;
    background: light-dark(hsl(var(--colore), 60%, 94%), hsl(calc(var(--colore)), 17%, 8%));
    font-family: 'Open Sans', sans-serif;
    bottom: 0;
    overflow-x: hidden;
}

.container {
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;

}

.user-input {
    font-size: 120%;
    padding: 5px;
    border-radius: var(--borderRadius);
    flex-grow: 1;
    width: fit-content;

    border: 4px solid hsl(calc(var(--colore) + 30), 53%, 41%);
}

.comandi {
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 13px;
    min-width: 200px;
    margin-top: 20px;
}

.partita {
    width: fit-content;
}

.button_1 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;

    width: fit-content;
    height: 45px;

    background: hsl(calc(var(--colore) + 30), 53%, 41%);
    border-radius: 4px;
    border: 0px;
    transition: background 0.3s ease;
    font-size: small;
    color: white;
}

.button_1 img {
    height: 60%;
    filter: invert(1);
}

.button_1:hover {
    background: hsl(calc(var(--colore) + 30), 90%, 65%);
    ;
}

.button_1:disabled {
    background: hsl(calc(var(--colore) + 30), 0%, 96%);
    color: hsl(calc(var(--colore) + 30), 0%, 76%);
}

.button_1:disabled img {
    filter: invert(0.7);
}

.select-dropdown,
.select-dropdown * {
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: fit-content;
}

.select-dropdown {
    position: relative;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: hsl(calc(var(--colore) + 30), 90%, 65%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    font-size: medium;
}


.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    font-size: 11px;
}


@media screen and (orientation: portrait) {

    .container {
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 0;
    }

    .comandi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: stretch;
        height: fit-content;
        gap: 0;
    }


}