@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
    --borderRadius: 10px;
    --spacer: 1rem;
    --primary: #406ff3;
    --text: #6a778e;
    --linkHeight: calc(var(--spacer) * 3.5);
    --timing: 250ms;
    --transition: var(--timing) ease all;
}

body {
    padding-left: 300px;
    background: #eaeef6;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottone {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.bottone:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}

.bottone:active {
    transform: scale(0.95);
}

.bottone:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}